<div class="container">
  <!-- searching form -->
  <div class="">
    <br/>
    <%= form_tag('/dashboard/index', method: :get) do %>
      <div class="main-form panel">
        <div class="panel-heading">Program Inputs</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-7">
              <div class="program-panel panel-basic">
                <div class="input-grp"><h5>Program Info</h5></div>
                <div class="row panel-body">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Bank Name</label>
                      <%= select_tag 'bank_name', options_for_select(@all_banks_name.sort_by!{ |m| m.downcase }, params[:bank_name]), { :class=> "form-control" ,:include_blank => 'All'} %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Loan Category</label>
                      <%= select_tag 'loan_category', options_for_select(@loan_categories.sort_by!{ |m| m.downcase }, params[:loan_category]), { :class=> "form-control" ,:include_blank => 'All'} %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Program Category</label>
                      <%= select_tag 'pro_category', options_for_select(@program_categories.flatten.sort_by!{ |m| m.downcase }, params[:pro_category]), { :class=> "form-control", :include_blank => 'All'} %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Program Name</label>
                      <%= select_tag 'program_name', options_for_select(@program_names.sort_by!{ |m| m.downcase }, params[:program_name]), { :include_blank => 'All', :class=> "form-control"} %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="panel-basic">
                <div class="input-grp"><h5>Loan Property</h5></div>
                <div class="row panel-body">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Loan Purpose</label>
                      <div class="input-group">
                        <% loan_purpose_list =[["All"], ["Purchase"], ["Refinance"]]%>
                        <%= select_tag 'loan_purpose', options_for_select(loan_purpose_list.flatten.sort_by!{ |m| m.downcase }, (params[:loan_purpose] rescue nil)), { prompt: 'Select Loan Purpose', :class=> "form-control" }%>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Loan Size</label>
                      <div class="input-group">
                        <% loan_size_list =[ ["All"], ["Conforming"], ["Non-Conforming"], ["Super Conforming"], ["Jumbo"], ["High-Balance"]]%>
                        <%= select_tag 'loan_size', options_for_select(loan_size_list.flatten.sort_by!{ |m| m.downcase }, (params[:loan_size] rescue nil)), { prompt: 'Select Loan Size', :class=> "form-control" }%>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Loan Type</label>
                      <%= select_tag 'loan_type', options_for_select(Program::LOAN_TYPE.flatten.sort_by!{ |m| m.downcase }, (params[:loan_type] rescue nil)), { prompt: 'Select Loan Type', :class=> "form-control"} %>
                    </div>
                  </div>
                  <div class="col-md-5 term">
                    <div class="form-group">
                      <label>Term</label>
                      <div class="input-group">
                       <% @term_list = (Program.pluck(:term).reject(&:blank?).uniq.map{|n| n if n.to_s.length < 3}.reject(&:blank?).push(5,10,15,20,25,30).uniq.sort).map{|y| [y.to_s + " yrs" , y]} %>
                        <%= select_tag 'term', options_for_select(@term_list, (params[:term] rescue nil)), { prompt: 'Select Term', :class=> "form-control"} %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 arm-basic">
                    <div class="form-group">
                      <label>ARM Basic</label>
                      <div class="input-group">
                       <% @arm_basic_list =[["1/1 ARM"],["2/1 ARM"],["3/1 ARM"],["7/1 ARM"],["10/1 ARM"],["5-1"],["5/1"]]%>
                        <%= select_tag 'arm_basic', options_for_select(@arm_basic_list.flatten.sort_by!{ |m| m.downcase }, (params[:arm_basic].present? ? params[:arm_basic] : "10/1 ARM")), { prompt: 'Select ARM Basic', :class=> "form-control"} %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 arm-basic">
                    <div class="form-group">
                      <label>ARM Advance</label>
                      <% @arm_advanced_list = Program.pluck(:arm_advanced).push("10/5", "5/1 3-2-5").uniq.compact.reject { |c| c.empty? }.map{|c| [c]} %>
                      <%= select_tag 'arm_advanced', options_for_select( @arm_advanced_list.flatten.sort_by!{ |m| m.downcase }, (params[:arm_advanced] rescue nil)), { prompt: 'Select ARM Advance', :class=> "form-control"} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="program-panel panel-basic">
                <div class="input-grp"><h5>FM</h5></div>
                <div class="row panel-body">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="checkbox">
                        <label> <%= check_box_tag 'fannie_mae', 'fannie_mae', params[:fannie_mae].present? %> Fannie Mae</label>
                      </div>
                      <div class="checkbox">
                        <label> <%= check_box_tag 'freddie_mac', 'freddie_mac', params[:freddie_mac].present? %> Freddie Mac</label>
                      </div>
                      <div class="checkbox">
                        <label> <%= check_box_tag 'du', 'du', params[:du].present? %> DU</label>
                      </div>
                      <div class="checkbox">
                        <label> <%= check_box_tag 'lp', 'lp', params[:lp].present? %> LP</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Fannie Mae Product</label>
                      <% @fannie_mae_product_list =[["All"], ["HomeReady"]]%>
                      <%= select_tag 'fannie_mae_product', options_for_select(@fannie_mae_product_list.flatten.sort_by!{ |m| m.downcase }, (params[:fannie_mae_product] rescue nil)), { prompt: 'Select Fannie Mae Product', :class=> "form-control" } %>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Freddie Mac Product</label>
                      <% @freddie_mac_product_list =[["All"], ["Home Possible"]]%>
                      <%= select_tag 'freddie_mac_product', options_for_select(@freddie_mac_product_list.flatten.sort_by!{ |m| m.downcase }, (params[:freddie_mac_product] rescue nil)), { prompt: 'Select Freddie Mac Product', :class=> "form-control" } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="program-panel panel-basic">
                <div class="input-grp"><h5>Government Program</h5></div>
                <div class="row panel-body">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="checkbox">
                        <label> <%= check_box_tag 'fha', 'fha', params[:fha].present? %> FHA</label>
                      </div>
                      <div class="checkbox">
                        <label><%= check_box_tag 'va', 'va', params[:va].present? %> VA</label>
                      </div>
                      <div class="checkbox">
                        <label><%= check_box_tag 'usda', 'usda', params[:usda].present? %> USDA</label>
                      </div>
                      <div class="checkbox">
                        <label><%= check_box_tag 'streamline', 'streamline', params[:streamline].present? %> Streamline</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <div class="checkbox">
                  <label><%= check_box_tag 'full_doc', 'full_doc', params[:full_doc].present? %> Full Doc</label>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Interest Rate</label>
                 <% @interest_list =[["3.250"],["3.375"],["3.500"],["3.625"],["3.750"],["3.875"],["4.000"],["4.125"],["4.250"],["4.375"],["4.500"],["4.625"],["4.750"],["4.875"],["5.000"],["5.125"],["5.250"],["5.375"],["5.500"],["5.625"],["5.750"],["5.875"]]%>
                <%= select_tag 'interest', options_for_select(@interest_list, @interest), :class=> "form-control" %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Lock Period</label>
                <div class="input-group">
                  <% @lock_period_list =[["15 days","15"], ["30 days","30"], ["45 days","45"], ["60 days","60"], ["75 days","75"], ["90 days","90"]]%>
                  <%= select_tag 'lock_period', options_for_select(@lock_period_list, @lock_period), :class=> "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-form panel">
        <div class="panel-heading">User Inputs</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Credit Score</label>
                <div class="input-group">
                  <% @credit_score_list = [["760 +", "760 +"], ["740-759", "740-759"], ["720-739", "720-739"], ["700-719", "700-719"], ["680-699", "680-699"], ["660-679", "660-679"], ["640-659", "640-659"], ["620-639", "620-639"]] %>
                  <%= select_tag 'credit_score', options_for_select(@credit_score_list, (params[:credit_score] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>LTV</label>
                <div class="input-group">
                  <%@ltv_values = [["97 +","97 +"], ["96-97", "96-97"], ["91-95", "91-95"], ["86-90", "86-90"], ["81-85", "81-85"], ["76-80", "76-80"], ["71-75", "71-75"], ["61-70", "61-70"],["0-60","0-60"]]%>
                  <%= select_tag 'ltv', options_for_select(@ltv_values, (params[:ltv] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>CLTV</label>
                <div class="input-group">
                  <%@cltv_values = [["97 +","97 +"], ["96-97", "96-97"], ["91-95", "91-95"], ["86-90", "86-90"], ["81-85", "81-85"], ["76-80", "76-80"], ["71-75", "71-75"], ["61-70", "61-70"],["0-60","0-60"]]%>
                  <%= select_tag 'cltv', options_for_select(@cltv_values, (params[:cltv] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>State</label>
                <div class="input-group">
                  <%= select_tag 'state', options_for_select(Program::STATE, (params[:state] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Loan Amount</label>
                <% @loan_amount_list =%>
                <%= select_tag 'loan_amount', options_for_select(Program::LOAN_AMOUNT, (params[:loan_amount] rescue nil)), { :class=> "form-control", :required => true} %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Program Category</label>
                <% @program_category_list =[["Non-Qm 7900"], ["QM 6900"]]%>
                <%= select_tag 'program_category', options_for_select(@program_category_list, (params[:program_category] rescue nil)), { :class=> "form-control", :required => true} %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Property Type</label>
                <div class="input-group">
                  <%@property_type_values = [["Manufactured Home"],["2nd Home"],["3-4 Unit"],["Non-Owner Occupied"],["Condo"],["2-Unit"], ["2-4 Unit"],["Investment Property"], ["Gov'n Non Owner"], ["NOO"]] %>
                  <%= select_tag 'property_type', options_for_select(@property_type_values, (params[:property_type] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Financing Type</label>
                <div class="input-group">
                  <%@financing_type_values = [["Subordinate Financing"]]%>
                  <%= select_tag 'financing_type', options_for_select(@financing_type_values, (params[:financing_type] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Refinance Option</label>
                <div class="input-group">
                  <%@refinance_option_values = [["Cash Out"], ["Rate and Term"], ["IRRRL"]]%>
                  <%= select_tag 'refinance_option', options_for_select(@refinance_option_values, (params[:refinance_option] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Misc Adjuster</label>
                <div class="input-group">
                  <%@misc_adjuster_values = [["CA Escrow Waiver (Full or Taxes Only)"], ["CA Escrow Waiver (Insurance Only)"], ["Miscellaneous"], ["Escrow Waiver Fee"], ["Escrow Waiver (LTVs >80%; CA only)"]]%>
                  <%= select_tag 'misc_adjuster', options_for_select(@misc_adjuster_values, (params[:misc_adjuster] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Payment Type</label>
                <div class="input-group">
                  <%@patment_type_values = [["Principal and Interest"], ["Interest Only"]]%>
                  <%= select_tag 'payment_type', options_for_select(@patment_type_values, (params[:payment_type] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>DTI</label>
                <div class="input-group">
                  <%@dti_values = [["25.6%"]]%>
                  <%= select_tag 'dti', options_for_select(@dti_values, (params[:dti] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Coverage</label>
                <div class="input-group">
                  <%@coverage_values = [["30.5%"]]%>
                  <%= select_tag 'coverage', options_for_select(@coverage_values, (params[:coverage] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Margin</label>
                <div class="input-group">
                  <%@margin_values = [["2.0"]]%>
                  <%= select_tag 'margin', options_for_select(@margin_values, (params[:margin] rescue nil)), :class=> "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <div class="form-group">
            <div>
              <label></label>
            </div>
            <%= submit_tag "Search", :class => "btn btn-info btn-block" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- end searching form -->
  <div class="row col-md-12 custyle">
    <table class="table table-striped custab table-bordered">
      <thead>
        <h2>Searched Programs</h2>
        <tr>
          <th>No.</th>
          <th>Bank Name</th>
          <th>Loan Category</th>
          <th>Program Category</th>
          <th>Program Name</th>
          <th>Base Rate</th>
          <th>Adjustments</th>
          <th>Adjustment Names</th>
          <th>Final Rate</th>
        </tr>
      </thead>
      <tbody>
      <% if @result.present? %>
        <% @result.each_with_index do |program, index|%>
          <tr>
            <td><%= index +1 %></td>
            <td><%= program[:bank_name] %></td>
            <td><%= program[:loan_category] %></td>
            <td><%= program[:program_category] %></td>
            <td><%= program[:program_name] %></td>
            <td><%= (program[:base_rate].to_f).round(2) %></td>
            <td><%= program[:adj_points] %></td>
            <td>
              <%
                if program[:adj_primary_key] == "Adjustment Not Present"
                  %>
                    <%= program[:adj_primary_key] %>
                  <%
                else
                  program[:adj_primary_key].each_with_index do |key, index|
                    %>
                      <%= index+1 %>. <%= key %><br/>
                    <%
                  end
                end
              %>
            </td>
            <td><%= (program[:final_rate].sum).round(3) rescue nil %></td>
          </tr>
        <%end%>
      <%else%>
        <tr>
          <td colspan="9">No programs..</td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
  <br>
    <hr style="border-top: 3px double #8c8b8b;">
  <br>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#bank_name').change(function(){
      var bank_name =  $(this).val();
      var loan_category = "All"
      var pro_category = "All"

      $.ajax({
        type:'GET',
        url:'/dashboard/fetch_programs_by_bank',
        data: {bank_name : bank_name, loan_category: loan_category, pro_category: pro_category },
        success:function(response){
          var selectBox = document.getElementById('program_name');
          selectBox.options.length = 0
          selectBox.options.add( new Option('All', 'All'));
          response.program_list.map((program)=>{
            selectBox.options.add( new Option(program.name, program.name));
          });
          var selectBox2 = document.getElementById('loan_category');
          selectBox2.options.length = 0
          selectBox2.options.add( new Option('All', 'All'));
          response.loan_category_list.map((loan_category)=>{
            selectBox2.options.add( new Option(loan_category.name, loan_category.name));
          });
          var selectBox3 = document.getElementById('pro_category');
          selectBox3.options.length = 0
          response.pro_category_list.map((pro_category)=>{
            selectBox3.options.add( new Option(pro_category.name, pro_category.name));
          });

        }
      });
    });

    $('#loan_category').change(function(){
      var loan_category =  $(this).val();
      var bank_name = $('#bank_name').val()
      var pro_category ="All"
      $.ajax({
        type:'GET',
        url:'/dashboard/fetch_programs_by_bank',
        data: {loan_category : loan_category, bank_name : bank_name, pro_category: pro_category },
        success:function(response){
          var selectBox = document.getElementById('program_name');
          selectBox.options.length = 0
          selectBox.options.add( new Option('All', 'All'));
          response.program_list.map((program)=>{
            selectBox.options.add( new Option(program.name, program.name));
          });

          var selectBox2 = document.getElementById('pro_category');
          selectBox2.options.length = 0
          response.pro_category_list.map((pro_category)=>{
            selectBox2.options.add( new Option(pro_category.name, pro_category.name));
          });
        }
      });
    });

    $('#pro_category').change(function(){
      var pro_category =  $(this).val();
      var bank_name = $('#bank_name').val()
      var loan_category = $('#loan_category').val()
      $.ajax({
        type:'GET',
        url:'/dashboard/fetch_programs_by_bank',
        data: {loan_category : loan_category, bank_name : bank_name, pro_category: pro_category },
        success:function(response){
          var selectBox = document.getElementById('program_name');
          selectBox.options.length = 0
          selectBox.options.add( new Option('All', 'All'));
          response.program_list.map((program)=>{
            selectBox.options.add( new Option(program.name, program.name));
          });
        }
      });
    });


    $(".alert-error" ).fadeOut(3000);
     if ($("#loan_type").val() == "ARM") {
      $(".arm-basic").show()
      $(".term").hide()
    }else{
     $(".arm-basic").hide()
     $(".term").show()
    }

   $("#loan_type").on('click', function(e){
     if ($(this).val()=="ARM"){
      $(".term").hide()
      $(".arm-basic").show()
     }else{
        $(".arm-basic").hide()
        $(".term").show()
     }
   });
  });

  // $('#du, #lp').click(function(){
  //   if ($('#du').prop("checked")) {
  //     $('#fannie_mae').attr('checked', true);
  //   }else {
  //     $('#fannie_mae').attr('checked', false);
  //   }
  //   if ($('#lp').prop("checked")) {
  //     $('#freddie_mac').attr('checked', true);
  //   }else {
  //     $('#freddie_mac').attr('checked', false);
  //   }
  // })


  $('#du').click(function(){
    debugger
    if($(this).prop("checked") == true){
      $('#fannie_mae').attr('checked', true);
    }
    else{
      $('#fannie_mae').attr('checked', false);
    }
  });

   $('#lp').click(function(){
    if($(this).prop("checked") == true){
      $('#freddie_mac').attr('checked', true);
    }
    else{
      $('#freddie_mac').attr('checked', false);
    }
  });


</script>
