<div class="container">
  <%= link_to "Import Government Sheet", import_government_sheet_import_file_path(@bank), class: "btn btn-primary" %>
  <%= link_to "Import Conforming Fixed Rate",import_conforming_fixed_rate_import_file_path(@bank),  class: "btn btn-primary" %>
  <%= link_to "Import Freddie Fixed Rate", import_freddie_fixed_rate_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Home Possible", home_possible_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Conforming ARMs", conforming_arms_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import LP Open Acces ARMs", lp_open_acces_arms_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import LP Open Access_105", lp_open_access_105_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import LP Open Access", lp_open_access_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Du Refi Plus ARMs", du_refi_plus_arms_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Du Refi Plus Fixed Rate 105", du_refi_plus_fixed_rate_105_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Du Refi Plus Fixed Rate", du_refi_plus_fixed_rate_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Dream Big", dream_big_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import High Balance Extra", high_balance_extra_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Freddie ARMs", freddie_arms_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Jumbo Series D", jumbo_series_d_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Jumbo Series F", jumbo_series_f_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Jumbo Series H", jumbo_series_h_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Jumbo Series I", jumbo_series_i_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import Jumbo Series JQM", jumbo_series_jqm_import_file_path(@bank),class: "btn btn-primary" %>
  <%= link_to "Import HomeReady Sheet", import_homereddy_sheet_import_file_path(@bank), class: "btn btn-primary" %>
  <%#= link_to "Import Home balance extra Sheet", import_home_balance_extra_import_file_path(@bank), class: "btn btn-primary" %>
  <%= link_to "Import HomeReady HB Sheet", import_HomeReadyhb_sheet_import_file_path(@bank), class: "btn btn-primary" %>
  <h2>Banks Details</h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>State Code</th>
        <th>Zip</th>
        <!-- <th>Programs</th> -->
      </tr>
    </thead>
    <tbody>
      <% Bank.all.each do |bank|%>
        <tr>
          <td><%= bank.name %></td>
          <td><%= bank.phone %></td>
          <td><%= bank.address1 %></td>
          <td><%= bank.state_code %></td>
          <td><%= bank.zip %></td>
          <!-- <td><%#= link_to "Programs", programs_import_file_path(bank) %></td> -->
        </tr>
      <%end%>
    </tbody>
  </table>
</div>


<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
  <table class="table table-striped custab">
  <thead>
  <h2>Sheets</h2>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Phone</th>
    <th class="text-center">Action</th>
  </tr>
  </thead>
    <% if @banks %>
      <% @banks.each_with_index do |bank, index|%>
        <tr>
          <td><%= index +1 %></td>
          <td><%= bank.name%></td>
          <td><%= bank.phone%></td>
          <td class="text-center"><a class='btn btn-info btn-xs' href="<%=import_files_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
        </tr>
      <%end%>
    <% end %>
  </table>
  </div>
</div>