<div class="container">
  <h2>Programs</h2>
  <table class="table table-dark table-striped" id="dttb">
    <thead>
      <tr>
        <th>Title</th>
        <th>Loan Type</th>
        <th>Term</th>
        <th>Rate Type</th>
        <th>FHA</th>
        <th>Rate Arm</th>
        <th>Jumbo High Balance</th>
        <th>Conforming</th>
        <th>Fannie Mae</th>
        <th>Freddie Mac</th>
        <th>Base Rate</th>
        <th>Adjustment</th>
      </tr>
    </thead>
    <tbody>
      <% @programs.each do |program|%>
        <tr>
          <td><%= program.program_name %></td>
          <td><%= program.loan_type %></td>
          <td><%= program.term %></td>
          <td><%= program.rate_type %></td>
          <!-- <td><%#=program.try(:interest_subtype)%> -->
          <td><%= program.fha %></td>
          <td><%= program.rate_arm %></td>
          <td><%= program.jumbo_high_balance %></td>
          <td><%= program.conforming %></td>
          <td><%= program.fannie_mae %></td>
          <td><%= program.freddie_mac %></td>
          <td><%= program.base_rate.to_json %></td>
          <td>
            <% program.adjustments.each do |adj| %>
              <%= adj.data %>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
