<div class="container">
  <h2>Programs</h2>
  <table class="table table-dark table-striped" id="dttb">
    <thead>
      <tr>
        <th>Title</th>
        <th>Loan Type</th>
        <th>Term</th>
        <th>Interest Type</th>
        <th>FHA</th>
        <th>Interest Sub-Type</th>
        <th>Jumbo High Balance</th>
        <th>Conforming</th>
        <th>Fannie Mae</th>
        <th>Freddie Mac</th>
        <th>Interest Points</th>
        <th>Adjustment</th>
      </tr>
    </thead>
    <tbody>
      <% @programs.each do |program|%>
        <tr>
          <td><%= program.title %></td>
          <td><%= program.loan_type %></td>
          <td><%= program.term %></td>
          <td><%= program.interest_type %></td>
          <td><%= program.fha %></td>
          <td><%= program.interest_subtype %></td>
          <td><%= program.jumbo_high_balance %></td>
          <td><%= program.conforming %></td>
          <td><%= program.fannie_mae %></td>
          <td><%= program.freddie_mac %></td>
          <td><%= program.interest_points %></td>
          <td><%= program.adjustments %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>