<div class="row col-md-6 col-md-offset-2 custyle">
  <table class="table table-striped custab">
    <thead>
    <h5>Banks</h5>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>New Penn Financial</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_new_rez_wholesale5806_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>CMG Financial </td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_cmg_wholesales_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Cardinal Financial </td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_cardinal_financial_wholesale10742_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Allied Mortgage </td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_allied_mortgage_group_wholesale8570_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Newfi Wholesale </td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_newfi_wholesale7019_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>6</td>
        <td>Home Point Financial Corporation </td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_home_point_financial_wholesale11098_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>7</td>
        <td>SunWest Wholesale </td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_sun_west_wholesale_demo5907_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>8</td>
        <td>United Wholesale Mortgage</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_united_wholesale_mortgage4892_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>9</td>
        <td>Quicken Loans Mortgage Services</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_quicken_loans3571_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>10</td>
        <td>Union Home Mortgage Wholesale</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_union_home_mortgage_wholesale1711_index_path%>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>11</td>
        <td>American Financial Resources</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_american_financial_resources_wholesale5513_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>12</td>
        <td>Direct Mortgage Corp Wholesale</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_direct_mortgage_corp_wholesale8443_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>13</td>
        <td>M&T Bank National Wholesale</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_m_t_bank_wholesale9996_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>14</td>
        <td>Royal Pacific Funding</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_royal_pacific_funding_wholesale8409_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>15</td>
        <td>Blue Point Mortgage</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_blue_point_mortgage_wholesale6187_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>16</td>
        <td>HomeBridge Wholesale</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=wholesale_rate_sheet_home_bridge_wholesale_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
      <tr>
        <td>18</td>
        <td>Bayview Loan Servicing</td>
        <td class="text-center"><a class='btn btn-info btn-xs' href="<%=ob_lakeview_wholesale8393_index_path %>"><span class="glyphicon glyphicon-edit"></span> View</a></td>
      </tr>
    </tbody>
  </table>
</div>