<div class="container">
  <div class="row col-md-12 custyle">
    <table class="table table-basic custab">
      <tbody>
        <h2>Program</h2>
        <tr>
          <th>Title</th>
          <td><%= @program.program_name %></td>
        </tr>
        <tr>
          <th>Loan Type</th>
          <td><%= @program.loan_type %></td>
        </tr>
        <tr>
          <th>Term</th>
          <td><%= @program.term %></td>
        </tr>
        <tr>
          <th>Interest Type</th>
          <td><%= @program.rate_type %></td>
        </tr>
        <tr>
          <th>FHA</th>
          <td><%= @program.fha %></td>
        </tr>
        <tr>
          <th>Rate Arm</th>
          <td><%= @program.rate_arm %></td>
        </tr>
        <tr>
          <th>Jumbo High Balance</th>
          <td><%= @program.jumbo_high_balance %></td>
        </tr>
        <tr>
          <th>Conforming</th>
          <td><%= @program.conforming %></td>
        </tr>
        <tr>
          <th>Fannie Mae</th>
          <td><%= @program.fannie_mae %></td>
        </tr>
         <tr>
          <th>Freddie Mac</th>
          <td><%= @program.freddie_mac %></td>
        </tr>
         <tr>
          <th>Base Rate</th>
          <td><%= @program.base_rate.to_json %></td>
        </tr>
         <tr>
          <th>Adjustment</th>
          <td><% @program.adjustments.each do |adj| %>
              <%= adj.data %>
            <%end%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
  table.table-basic tr th {
    width: 15%;
    color: #333;
  }
  table.table-basic tr td {
    color: #777;
  }
</style>